
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>InhaalExamens</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>Inhaal Examen aanvraag</h2>
  <form action='/create' method='POST'>
    Naam student: <input type='text' name='question' value="Is this a question"><br />
    Examen in kwestie: <input type='text' name='question' value="Is this a question"><br />
    Reden tot aanvraag: <input type='text' name='question' value="Is this a question"><br />
    <button type='submit'>Insturen voor aanvraag!</button>
  </form>
</body>
</html>
